* {
    margin: 0;
    padding: 0;
    font-family: 'Quattrocento', serif;
}

.logo img {
    width: 150px;
}

header {
    font-family: 'Oswald', sans-serif;
}

h3 {
    font-family: 'Oswald', sans-serif;
}